-#  This file is app/views/movies/index.html.haml
  
%h2 All Movies

= form_tag movies_path, :method => :get do
  Include:
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", 0, params[:ratings][rating]
  = submit_tag 'Refresh'
  
-# Part1. is done with the help of - http://railscasts.com/episodes/228-sortable-table-columns?autoplay=true
  
%table#movies.table.table-striped.col-md-12
  %thead
    %tr
      -# %th Movie Title
      %th= sortable "title", "Movie Title"
      %th Rating
      -# %th Release Date
      %th= sortable "release_date", "Release Date"
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path
